<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="image_src" href="{{ site.url }}/assets/square.jpg" />
		</head>
		<body>
			<script type="text/javascript">
var textarray = [
 "Brent Woo, practicing syntactician",
 "Brent Woo,\"the Tao Lin of linguistics\"",
 "Brent Woo, лингвист",
 "Brent Woo, concert scientist"    // No comma after last entry
];

function RndText() {
  var rannum= Math.floor(Math.random()*textarray.length);
  document.getElementById('ShowText').innerHTML=textarray[rannum];
}
onload = function() { RndText(); }

</script>

			<nav>
	    		<ul>	<li><div id="ShowText" height="18pt"></div></li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>  
				<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<!-- <li><a href="/cv">CV</a></li> -->
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:opus.woo@gmail.com">email</a></li>
	        		<li><a href="https://github.com/brentwoo">github.com/brentwoo</a></li>
<!--	        		<li><a href="http://jmcglone.com/guides/github-pages/">Thanks for layout!</a></li> --> 
				</ul>
			</footer>
		</body>
	</html>
